#__app {
  height: 100%;
}

body,
html {
  margin: 0;
  height: 100%;
}

a {
  text-decoration: none;
}

body {
  font-family: -apple-system, Roboto, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
